<app-card class="titulo" [titulo]="'Cadastro de Evento'">
<form [formGroup]="formEvento">

    <div class="p-grid p-dri-col">

        <label class="p-field">
            <label for="titulo">Título do evento</label>
            <input type="text" pInputText id="titulo" [(ngModel)]="evento.titulo" required autofocus placeholder="Titulo Evento" formControlName="titulo"  />
            <div *ngIf="formEvento.get('titulo').invalid">Título inválido</div>
        </label>

        <div class="p-field">
            <label for="descricao" > Descricão do evento</label>
            <input class="input" type="text"  [(ngModel)]="evento.descricao" placeholder="Descrição do evento:" formControlName="descricao" pInputText/>
        </div>

        <label class="p-field">
            <label for="qtVagas">Quantidade de vagas</label>
            <input type="number" [(ngModel)]="evento.qtVagas" placeholder="Quantidade de vagas" formControlName="qtVagas" pInputText />
        </label>
         
        <label class="p-field">
            <label for="local">Local do evento</label>
            <input type="text" [(ngModel)]="evento.local" placeholder="Local do evento" formControlName="local" pInputText />
        </label>

        <label class="p-field">
            <label for="tipoEvento">Tipo de evento</label>
            
            <p-dropdown [options]="tipoEventos" placeholder="Selecione o Tipo do Evento" 
            [(ngModel)]="tipoEventos" formControlName="idTipoEvento"
            optionLabel="descricao" optionValue="id"></p-dropdown>
        </label>

        <label class="p-field">
            <label for="tipoInscricao">Tipo de inscrição</label>
            <p-inputSwitch class="input" [(ngModel)]="tipoInscricao" formControlName="tipoInscricao" ></p-inputSwitch>
        </label>

        <label class="p-field">
            <label for="valor">Valor da Inscrição</label>
            <input type="number" [(ngModel)]="evento.valor" placeholder="Valor" formControlName="valor" pInputText *ngIf="tipoInscricao == true"/>
        </label>

        <label class="p-field">
            <label for="dataInicio">Data e hora do inicio do evento</label>
             <input class="input" type="datetime-local"  [(ngModel)]="evento.dataInicio"  formControlName="dataInicio" pInputText/>
        </label>

        <label class="p-field">
            <label for="dataTermino">Data e hora do termino do evento</label>
            <input class="input" type="datetime-local"  [(ngModel)]="evento.dataTermino"  formControlName="dataTermino" pInputText/>
        </label>
        
        <div class="p-field">
            <label for="tipoInscricao">Adicionar uma pergunta</label>
            <input type="text" pInputText id="pergunta" [(ngModel)]="evento.perguntas" required autofocus />
            <i class="pi pi-bars"></i>
            <p-checkbox  [(ngModel)]="pergunta.obrigatoriedade" [binary]="true" *ngIf="perguntaObrigatoria" formControlName="pergunta"></p-checkbox>
            <i class="pi pi-bars"></i>
            <button pButton (click)="salvarPergunta(pergunta)" label="Save" icon="pi pi-check" styleClass="p-button-warning" *ngIf="perguntaObrigatoria"></button>
        </div>
    </div>
</form>
<button class="btnCadastrar" pButton type="button" (click)="salvar()" [label]="edicao ? 'Editar' : 'Cadastrar'" ></button>
</app-card>