 <p-card>
     <div class="ui-g">
        <div class="ui-g-12">
            Login
     </div>

     <input class="ui-g-12 ui-fluid" [(ngModel)]="chaveInput" type="text" pInputText placeholder="Insira sua chave de inscrição" />
    <button class="p-ml-2" pButton (click)="logarUsuario(chaveInput)" type="button" label="Entrar"  ></button>
    <button class="p-ml-2" type="button" (click)="mostrarDialog()" pButton label="Cadastrar"></button>

</div>
    </p-card>

    <p-dialog header="Novo Usuario" [(visible)]="exibirDialog">
        <app-formulario-usuario
        [edicao]="formularioLogin"
      (usuarioSalvo)="fecharDialog($event)"
    ></app-formulario-usuario>
    </p-dialog>
