
    <div class="card">
        <button class="btnLogout" (click)="logout()" pButton type="button" [label]="'Logout'"></button>
        <p-table [value]="pegarUsuarioLocal()" styleClass="p-datatable-sm">
            <ng-template pTemplate="caption">
                Editar
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Data Nascimento</th>
                    <th style="width: 80px;">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.cpf}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                    <td class="p-d-flex p-jc-center">
                        <button [routerLink]="['formulario', usuario.id]" pButton type="button" icon="pi pi-pencil"></button>
                        <button (click)="mostrarDialogEditar(usuario.id)" class="p-ml-2" pButton type="button" icon="pi pi-pencil"></button>
                </tr>
            </ng-template>
        </p-table>
        <p-table [value]="inscricoes" styleClass="p-datatable-sm">
            <ng-template pTemplate="caption">
                Meus eventos
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Evento</th>
                    <th>Data</th>
                    <th>Local</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-inscricao>
                <tr *ngFor="let evento of eventos">
                    <td>{{evento.titulo}}</td>
                    <td>{{evento.dataInicio | date: 'dd/MM/yyyy'}}</td>
                    <td>{{evento.local}}</td>
                    <td>R$ {{evento.valor}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

<p-dialog header="Olá {{usuario.nome}}" [(visible)]="exibirDialog">

    <app-formulario-usuario
    [usuario]="usuario"
    [edicao]="formularioEdicao"
    (usuarioSalvo)="fecharDialog($event)"
></app-formulario-usuario>


</p-dialog>

