<app-card class="titulo"  [titulo]="'Cadastro'">
    <form [formGroup]="formUsuario">

        <div class="p-grid p-dir-col">

            <label class="label-input">
                <i class="pi pi-user icon-modify"></i>
                <input type="text" [(ngModel)]="usuario.nome" id="nome" placeholder="Nome" formControlName="nome" pInputText />
                <div *ngIf="formUsuario.get('nome').invalid">Nome inválido</div>
            </label>

            <label class="label-input">
                <i class="pi pi-ticket icon-modify"></i>
                <input type="text" [(ngModel)]="usuario.cpf" id="cpf" placeholder="CPF" formControlName="cpf" pInputText />
                <div *ngIf="formUsuario.get('cpf').invalid">CPF inválido</div>
            </label>

          <label class="label-input">
            <i class="pi pi-envelope icon-modify"></i>
            <input type="text" [(ngModel)]="usuario.email" id="email" placeholder="Email" formControlName="email" pInputText />
            <div *ngIf="formUsuario.get('email').invalid">Email inválido</div>
          </label>

        <label class="label-input">
            <i class="pi pi-mobile icon-modify"></i>
            <input type="text" [(ngModel)]="usuario.telefone" id="telefone" placeholder="telefone" formControlName="telefone" pInputText>
            <div pTooltip="Telefone invalido!" *ngIf="formUsuario.get('telefone').invalid"></div>
        </label>

        <label class="label-input">
            <i class="pi pi-calendar-plus icon-modify"></i>
            <input type="text" [(ngModel)]="usuario.dataNascimento" placeholder="Data de Nascimento" formControlName="dataNascimento" pInputText />
        </label>

        </div>

      </form>
      <button class="btnCadastrar" (click)="salvar()" pButton type="button" [label]="edicao ? 'Editar' : 'Cadastrar'" ></button>
    </app-card>
