/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}
body .ui-button.ui-button-text-only .ui-button-text {
    padding: 0 1em !important;
    position: relative;

}

body .ui-widget, body .ui-widget .ui-widget{
    margin: 10px;
    border-radius: 15px;
    justify-content: center;

}

body .ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid black;
    font-weight: 700;
    color: #FFF;
    background-color: black;
}
body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    color: #FFF;
    text-align: center;
    height: 75px;
    background-image: linear-gradient(#212121,#333333);
    border-color: #212121;
}
input {
    height: 35px;
    border-radius: 10px;
    border-style: solid;
    border-image: none;
    border-width: thin;
}

