/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body .ui-button.ui-button-text-only .ui-button-text {
    padding: 0 1em !important;
    position: relative;

}

body .ui-widget, body .ui-widget .ui-widget{
    
    border-radius: 15px;

}

body .ui-button.ui-button-text-icon-left{
    padding-left: 0.4em;
}

body .ui-button .ui-button-text{
    line-height: 0;
}

.ui-table .ui-paginator-bottom {
    padding-top: 10px;
    border-top: 2px;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

body .ui-paginator .ui-paginator-current {
    line-height: 3.4em;
}

.ui-table {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


body .ui-table .ui-table-tbody > tr > td {
    background-color: inherit;
    border: 1px solid #c8c8c8;
    transition: box-shadow 0.2s;
    text-align: left;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}

body .ui-table .ui-table-thead > tr > th {
    text-align: left;
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    border-width: 0 0 1px 0;
}

body .ui-table .ui-table-caption {
    border-bottom: 0 none;
    background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 600;
}
