input{
    margin: 20px;
}

.p-field{
    background-color :#201a1a;
    border-radius: 10px;
    color: white;
}

.btInscrever{
    background-color :#971b1b;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    margin: 5px;
    transform: none;
    border-radius: 10px;
}

.preco{
    background-color :#228B22;
    color: rgb(255, 255, 255);
    border: none;
    height: 40px;
    margin: 15px;
    transform: none;
    border-radius: 20px;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}



