<app-card [titulo]="'Lista de inscrições'">

    <div class="p-d-flex p-jc-end">
        <button routerLink="inscricao-formulario" icon="pi pi-plus" pButton type="button" label="Inscrição" ></button>
    </div>
    <p-tabView>
        <p-tabPanel header="Inscricoes">
            <p-table [value]="inscricoes">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID Inscrição</th>
                        <th>ID Evento</th>
                        <th>ID Usuário</th>
                        <th style="width: 80px;">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inscricao>
                    <tr>
                        <td>{{inscricao.id}}</td>
                        <td>{{inscricao.idEvento}}</td>
                        <td>{{inscricao.idUsuario}}</td>
                        <td class="p-d-flex p-jc-center">
                         <button (click)="deletarInscricao(inscricao.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</app-card>
