<app-card class="titulo">
<form [formGroup]="formUsuario">

    <div class="p-grid p-dir-col">

        <label class="label-input">
            <i class="pi pi-user icon-modify"></i>
            <input type="text" pTooltip="Insira seu nome" [(ngModel)]="usuario.nome" placeholder="Nome" formControlName="nome" pInputText />

        </label>

        <label class="label-input">
            <i class="pi pi-id-card icon-modify"></i>
            <input pTooltip="Insira seu CPF" type="text" [(ngModel)]="usuario.cpf" placeholder="000.000.000-00" formControlName="cpf" maxlength="11" minlength="11" mask="999.999.999-99" pInputText />

        </label>

      <label class="label-input">
        <i class="pi pi-envelope icon-modify"></i>
        <input type="text" pTooltip="Insira seu Email" [(ngModel)]="usuario.email" placeholder="Email" formControlName="email" pInputText />

      </label>

    <label class="label-input">
        <i class="pi pi-mobile icon-modify"></i>
        <input type="text" pTooltip="Insira seu Telefone" [(ngModel)]="usuario.telefone" placeholder="+55 00 00000-0000" formControlName="telefone" mask="+55 99 99999-9999" pInputText>

    </label>

    <label class="label-input">
        <i class="pi pi-calendar-plus icon-modify"></i>
        <input type="text" pTooltip="Insira sua Data de Nascimento" [(ngModel)]="usuario.dataNascimento"  placeholder="Data de Nascimento" formControlName="dataNascimento" pInputText />
    </label>

    </div>

  </form>
  <button class="btnCadastrar" (click)="salvar()" pButton type="button" [label]="edicao ? 'Editar' : 'Cadastrar'" ></button>


</app-card>
