<app-card class="titulo">
<form [formGroup]="formUsuario">

    <div class="p-grid p-dir-col">

        <label class="label-input">
            <i class="pi pi-user icon-modify"></i>
            <input type="text" pTooltip="Insira seu nome" [(ngModel)]="usuario.nome" placeholder="Nome" formControlName="nome" pInputText />

        </label>

        <label class="label-input">
            <i class="pi pi-id-card icon-modify"></i>
            <p-inputMask pTooltip="Insira seu CPF" [(ngModel)]="usuario.cpf" mask="999.999.999-99" characterPattern="[А-Яа-я]" placeholder="000.000.000-00" formControlName="cpf" formControlName="cpf" ></p-inputMask>


        </label>

      <label class="label-input">
        <i class="pi pi-envelope icon-modify"></i>
        <input type="text" pTooltip="Insira seu Email" [(ngModel)]="usuario.email" placeholder="Email" formControlName="email" pInputText />

      </label>

    <label class="label-input">
        <i class="pi pi-mobile icon-modify"></i>
        <p-inputMask pTooltip="Insira seu Telefone" [(ngModel)]="usuario.telefone" mask="+55 (99) 9 9999-9999" characterPattern="[А-Яа-я]" placeholder="+55 (00) 9 00000-0000" formControlName="telefone" ></p-inputMask>

    </label>

    <label class="label-input">
        <i class="pi pi-calendar-plus icon-modify"></i>
        <input  type="date" pTooltip="Data de Nascimento"  [(ngModel)]="usuario.dataNascimento"   formControlName="dataNascimento">
    </label>

    </div>

  </form>
  <button class="btnCadastrar" (click)="salvar()" pButton type="button" [label]="edicao ? 'Editar' : 'Cadastrar'" ></button>


</app-card>
