<app-card [titulo]="'Lista de usuários'">

    <div class="p-d-flex p-jc-end">
        <button routerLink="formulario" pButton type="button" label="Cadastrar Usuário" ></button>
    </div>

    <p-table [value]="usuarios">
      <ng-template pTemplate="header">
          <tr>
              <th>Nome</th>
              <th>Data de Nascimento</th>
              <th style="width: 80px;">Ações</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
          <tr>
              <td>{{usuario.nome}}</td>
              <td>{{usuario.dataNascimento | date: 'dd/MM/yyyy'}}</td>
              <td class="p-d-flex p-jc-center">
                <button [routerLink]="['formulario', usuario.id]" pButton type="button" icon="pi pi-pencil"></button>
                <button (click)="deletarUsuario(usuario.id)" class="p-ml-2" pButton type="button" icon="pi pi-trash"></button>
              </td>
          </tr>
      </ng-template>
    </p-table>

</app-card>
