

input {
    background-color: #fff;
    border: 1px solid #000;
  }

  p-table {
    padding: 20px;
  }

  .btn{
    background-color: #ecf0f1;
    color: black;
    font-weight: bold;
    border: none;
    height: 40px;
    margin: 5px;
    transform: none;
    border-radius: 10px;
    bottom: 40px;
  }

.p-ml-2{
  background-color: black;
    color: #FFF;
    font-weight: bold;
    border: none;
    height: 40px;
    transform: none;
    border-radius: 10px;
}
 

